html { overflow-y: scroll; }

body { padding-top: 20px; padding-bottom: 40px; font-family: "Merriweather", Helvetica; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Merriweather", Helvetica; font-weight: 700;}

blockquote p { font-size: 16px; line-height: 1.6em; }

/* Masthead */
.header, .footer, .header h3 { font-family: "Montserrat", Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }

/* Navigation */
h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #0088cc; }

img.avatar { margin-bottom: 30px; }
		
/* Custom container */
.container > hr { margin: 20px 0; }
.container > hr.footer {margin-bottom: 15px; }

/* E-Mail */
.obfuscate { unicode-bidi: bidi-override; direction: rtl; }

.home, .about, .cv, .research, .projects, .blog, .error { width: 90%; margin: 0 auto; margin-bottom: 30px; line-height: 26px; }

/* CV */
.cv {line-height: 23px;}
.cv li { line-height: 23px; }
.cv h3 { font-size: 24px; }
.cv h2 { font-size: 28px; }
.cv h1 { font-size: 32px; }

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a { &:hover { background-color: #f1f1f1; color: #333; } }

.pagination { text-align: center; }