html { overflow-y: scroll; }

body { padding-top: 20px; padding-bottom: 40px; font-family: "Merriweather", Helvetica; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Merriweather", Helvetica; font-weight: 700;}

blockquote p { font-size: 16px; line-height: 1.6em; }

/* Masthead */
.header, .footer, .header h3 { font-family: "Montserrat", Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }

/* Navigation */
h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #0088cc; }
		
/* Custom container */
.container > hr { margin: 20px 0; }
.container > hr.footer {margin-bottom: 15px; }

/* E-Mail */
.obfuscate { unicode-bidi: bidi-override; direction: rtl; }

.home, .cv, .research, .projects, .blog, .site, .error { width: 90%; margin: 0 auto; margin-top: 20px; margin-bottom: 30px; line-height: 26px; }

/* CV */
.cv { line-height: 23px; }
.cv li { line-height: 23px; }
.cv h3 { font-size: 24px; color: #2a5682 }
.cv h2 { font-size: 28px; color: #2a5682 }
.cv h1 { font-size: 32px; }

/*Research*/
.research { line-height: 20px; }
.research li { line-height: 20px; }
.research h3 { font-size: 20px; }
.research h2 { font-size: 28px; color: #2a5682 }
.research h1 { font-size: 32px; }
.research .abstract { font-size: 12px; color: #777 }

/*Projects*/
.projects { line-height: 20px; }
.projects h3 { font-size: 20px; margin: 0; }
.project-item {
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 8px;
}
.project-left {
    height: 160px;
    width: 240px;
    padding: 4px;
    float: left;
}
.project-image {
    height: auto;
    width: 230px;
    margin: auto;
}
.project-text {
	position: relative;
    height: 160px;
    margin-left: 250px;
}
.project-foot {
	width: 100%;
	position: absolute;
	bottom: 0;
	font-size: 12px;
	color: #777;
}

/*Blog*/
.blog { width: 80%; }

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a { &:hover { background-color: #f1f1f1; color: #333; } }

.pagination { text-align: center; }

/*Icons*/
.fa { padding: 8px; color: #336699; }
.fa:hover { text-decoration: none; border-radius: 5px; background-color: #dddddd; }