<div class="footer">
	<div class="row">
		<div class="col-xs-8">
			<p><small><a href="/site" title="About this site">About this site</a></small></p>
		</div>
		<div class="col-xs-4">
			<!-- <p class="pull-right"><small><a href="mailto:jyp0802@gmail.com">Email</a></small></p> -->
			<a class="fa fa-envelope-o fa-lg pull-right" href="mailto:jyp0802@gmail.com" title="Email"></a>
			<a class="fa fa-instagram fa-lg pull-right" href="https://www.instagram.com/jyp0802/" title="Instagram"></a>
			<a class="fa fa-facebook-square fa-lg pull-right" href="https://www.facebook.com/j.y.park.0802" title="Facebook"></a>
			<a class="fa fa-github fa-lg pull-right" href="https://github.com/jyp0802" title="GitHub"></a>
		</div>
	</div>
</div>
